extends layout

block content
  div(class="container")
      h1= title
      p Welcome to #{title}
      form(action="/pugjsTest", method="POST")
        div(class="row")
            div(class="form-group col-xs-6")
                label(for="template") Template
                textarea(id="template", name="template", class="form-control", rows="15" )
            div(class="form-group col-xs-6")
                label(for="object") Object
                textarea(id="object", name="object", class="form-control", rows="15" )
        div(class="form-group")
            input(type="submit", value="Send", class="btn btn-default")